*{
    border:0;
    margin:0;
    box-sizing: border-box;
    color: white;
}
.grid {
  display: grid;
  width: 40%;
  height: 80vh;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: .1rem;
}
.header {
  background: blue;
  grid-column: 1 / 6;
  grid-row: 1 / 2;
}
.aside {
  background: green;
  grid-column: 1 / 2;
  grid-row: 2 / 9;
}
.main {
  background: red;
  grid-column: 2 / 6;
  grid-row: 2 / 9;
}
.footer {
  background: purple;
  grid-column: 1 / 6;
}



